body{
    background-color: aquamarine;
}
header{
    font: normal 20px Arial;
    text-align: center;
    color: black;
}
section{
    font: normal 20px Arial;
    width: 500px;
    background-color: rgb(128, 128, 209);
    border-radius: 15px;
    margin: auto;
    text-align: center;
    box-shadow: 5px 5px 10px rgb(95, 94, 94);
}
footer{
    font: normal 15px Arial;
    text-align: center ;
    color: black;
}
#imagem{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    box-shadow: 5px 5px 10px rgb(95, 94, 94);
}
#msg{
    font: bold italic 40px arial, sans-serif;
}